.container {
  display: flex;
  flex-wrap: wrap;
}
.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 160px;
  height: 150px;
}
.image{
  width: 100px;
  height: 100px;
  object-fit: cover;
}